<div class="container ng-scope">
    <h3> Xác nhận bán vé</h3>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div *ngIf="time">
                <img src="https://image.bongngo.tv/upload/bg_one-piece-dao-hai-tac.jpg">
            </div>
        </div>
        <div class="col-md-9">
            <div *ngIf="time">
                <h2> {{time.idMovie}}</h2>
                <table class="table table-striped">
                    <tr>
                        <td class="w-25">
                            <p>Màn hình :</p>
                        </td>
                        <td>{{time.room}}</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Ngày chiếu :</p>
                        </td>
                        <td>{{time.showDate}}</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Giờ chiếu :</p>
                        </td>
                        <td>{{time.showTime}}</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Ghế :</p>
                        </td>
                        <td>
                            <div *ngFor="let idChair of chairListChoise">
                                <div *ngFor="let chair of chairs">
                                    <div *ngIf="chair.idChair==idChair">
                                        {{chair.position}}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Giá :</p>
                        </td>
                        <td>
                            <div *ngFor="let idChair of chairListChoise">
                                <div *ngFor="let chair of chairs">
                                    <div *ngIf="chair.idChair==idChair && chair.idChairDetail==1">
                                        {{chair.position}} : {{45000}} vnd
                                    </div>
                                    <div *ngIf="chair.idChair==idChair && chair.idChairDetail==2">
                                        {{chair.position}} : {{45000+10000}} vnd
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Tổng cộng :</p>
                        </td>
                        <td>{{45000*chairListChoise.length +amountVip*10000}} vnd </td>
                    </tr>
                </table>
            </div>
            <div class="confirm">
                <h4>Thành viên</h4>
                <input #codeMember type="text" class="form-control" name="confirm-input"
                    placeholder="Nhập CMND hoặc số thẻ">
                <button (click)="checkMember(codeMember.value)" class="btn btn-primary">Kiểm Tra</button>
                <div *ngIf="user">
                    <table>
                        <tr>
                            <td class="w-25">
                                <p>số thẻ :</p>
                            </td>
                            <td>
                                <p>{{user.idUser}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>CMND :</p>
                            </td>
                            <td>
                                <p>{{user.license}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Họ tên :</p>
                            </td>
                            <td>
                                <p>{{user.fullName}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Điểm thành viên :</p>
                            </td>
                            <td>
                                <p>{{user.point}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Đổi vé :</p>
                            </td>
                            <td *ngIf="user.point>=200 && chairListChoise.length>=2 ">
                                <input class="change-ticket" type="radio" name="change-ticket"
                                    [(ngModel)]="changeticket" value="0" (change)="onItemChange(changeticket)"
                                    [checked]='true'> 0
                                <input class="change-ticket" type="radio" name="change-ticket"
                                    [(ngModel)]="changeticket" value="1" (change)="onItemChange(changeticket)"> 1
                                <input class="change-ticket" type="radio" name="change-ticket"
                                    [(ngModel)]="changeticket" value="2" (change)="onItemChange(changeticket)"> 2
                            </td>
                            <td
                                *ngIf="(user.point>=100 && user.point<200) ||(user.point>=200 && chairListChoise.length==1)">
                                <input class="change-ticket" type="radio" name="change-ticket"
                                    [(ngModel)]="changeticket" value="0" (change)="onItemChange(changeticket)"
                                    [checked]='true'> 0
                                <input class="change-ticket" type="radio" name="change-ticket"
                                    [(ngModel)]="changeticket" value="1" (change)="onItemChange(changeticket)"> 1
                                <input class="change-ticket" type="radio" name="change-ticket"
                                    [(ngModel)]="changeticket" value="2" disabled> 2
                            </td>
                            <td *ngIf="user.point<=100">
                                <input class="change-ticket" type="radio" name="change-ticket"
                                    [(ngModel)]="changeticket" value="0" (change)="onItemChange(changeticket)"
                                    [checked]='true'> 0
                                <input class="change-ticket" type="radio" name="change-ticket"
                                    [(ngModel)]="changeticket" value="1" disabled> 1
                                <input class="change-ticket" type="radio" name="change-ticket"
                                    [(ngModel)]="changeticket" value="2" disabled> 2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Số điện thoại :</p>
                            </td>
                            <td>
                                <p>{{user.numberPhone}} </p>
                            </td>
                        </tr>
                    </table>
                    <button (click)="confirmChair()" class="btn btn-primary">Xác nhận bán vé</button>
                    <!-- <button class="btn btn-primary" [routerLink]="['/thongtinbanve', time.idTime,user.id]">Xác nhận bán
                        vé</button> -->
                </div>
            </div>
        </div>
    </div>
</div>