button{
    margin-top: 15px;
    margin-right: 20px;
}
li {
    border: 1px solid black;
    float: left;
    margin: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    list-style: none;
    }
.chair-button{
    background: none;
    border: none;
}


.choiseChair {
    clear: left;
}
label {
    line-height: 60px;
    text-align: left;
}